@model List<EmpresModel>

@{
    ViewData["Title"] = "Listagem de Empresas";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Empresa" asp-action="Create">Adicionar Contato</a>
    </div>

    <br />

    <h1 class="display-5">Listagem de Empresas</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Email</th>
                <th scope="col">Celular</th>
                <th scope="col">Inscrição Estadual</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (EmpresModel Empresa in Model)
                {
                    <tr>
                        <th scope="row">@Empresa.Id</th>
                        <td>@Empresa.Name</td>
                        <td>@Empresa.CNPJ</td>
                        <td>@Empresa.Email</td>
                        <td>@Empresa.Celular</td>
                        <td>@Empresa.InscriEstadual</td>
                        <td>
                            <div class="btn-group" role="group">
                                <!--Aqui Criamos os botões para poder fazer o funcionamento do Update e Delte do Crud, ele segue a forma de Pedir Requisição pelo "Asp-Controller
                                    e a sua ação que será puxado.
                                " -->
                                <a role="button" class="btn btn-primary" asp-route-id="@Empresa.Id" asp-controller="Empresa" asp-action="Editar">Editar </a>
                                <a role="button" class="btn btn-danger" asp-route-id="@Empresa.Id" asp-controller="Empresa" asp-action="ApagarConfirmacao">Apagar </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

